<div class="editor-wrapper" [ngClass]="{'editor-full': fullScreen}">
    <div class="editor-header" [ngClass]="'bkg-' + theme" *ngIf="pageUrl != 'ts-compiler' && pageUrl != 'sass-compiler'">
        <div class="btn-group editor-buttons" role="group" aria-label="Editor buttons">
            <button class="btn btn-transparent" (click)="newDocument()">Novo</button>
            <button class="btn btn-transparent" (click)="openDocument()">Otvori</button>
            <button class="btn btn-transparent" data-toggle="modal" data-target="#saveModal">Sačuvaj</button>
            <button class="btn btn-transparent" (click)="fullScreen = !fullScreen">{{fullScreen? 'Smanji' : 'Povećaj'}}</button>
            <input type="file" (change)="inputDocument($event)" accept=".html,.css,.js,.ts,.php,.txt" #fileInput>
        </div>
    </div>
    <div class="editor-main">
        <codemirror [(ngModel)]="code" [config]="config" (change)="counter(code)"></codemirror>
    </div>
    <div class="editor-footer" [ngClass]="'bkg-' + theme">
        <span class="counter-text">Linije: {{lineCount}} </span>
        <span class="counter-text">Reči: {{wordCount}} </span>
        <span class="counter-text">Jezik: {{displayLang}} </span>
    </div>
</div>
<div class="modal fade" id="saveModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" [ngClass]="'bkg-' + theme">
        <h1><i class="material-icons md-36 save-icon">save</i> &nbsp; Sačuvaj fajl</h1>
      </div>
      <div class="modal-body">
        <div class="row m-t-2 m-b-2">
          <div class="col-lg-9 m-b-1">
            <div class="input-group">
              <input type="text" class="form-control form-input" [(ngModel)]="documentName" placeholder="Ime fajla">
            </div>
          </div>
          <div class="col-lg-3 m-b-1">
            <div class="input-group">
              <select class="form-control form-input" [(ngModel)]="extension">
                <option *ngFor="let extension of allowedExtensions">{{extension}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col-lg-12">
            <div class="input-group">
              <button class="btn btn-transparent" (click)="saveDocument()" data-dismiss="modal">Sačuvaj</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>