<div
  class="modal fade"
  id="helpModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" [ngClass]="'bkg-' + theme">
        <h1>
          <i class="material-icons md-36 save-icon">lightbulb_outline</i> &nbsp;
          Pomoć
        </h1>
      </div>
      <div class="modal-body" [innerHTML]="lessonHelp | sanitizer"></div>
      <button
        type="button"
        class="btn btn-secondary"
        data-dismiss="modal"
        hidden
        #closeButton
      >
        Close
      </button>
    </div>
  </div>
</div>
