<div class="container-fluid wrapper">
  <div class="row">
    <div class="text-xs-center m-a-3">
      <h1 class="display-1 material-light-gray">
        <i class="material-icons md-192">sentiment_dissatisfied</i>
      </h1>
      <h1 class="display-1 material-light-gray m-a-2">404</h1>
      <h3 class="h3 light-gray m-a-2">Stranica nije pronađena</h3>
      <p class="light-gray m-a-2">
        Tražena stranica ne postoji ili je ukljonena.
        <br />
        Idite <a href="javascript: history.back()">nazad</a> ili na našu
        <a routerLink="/home">početnu</a> stranu.
      </p>
    </div>
  </div>
</div>
