<nav
  class="navbar pos-f-t"
  [ngClass]="navigationBackground"
  [class.boxShadow]="navigationShadow"
>
  <ul class="nav navbar-nav">
    <li class="nav-item">
      <a
        class="navigation-link"
        name="menuIcon"
        (click)="menu.showMenu = !menu.showMenu"
        ><i class="material-icons" *ngIf="!menu.showMenu">menu</i
        ><i class="material-icons" *ngIf="menu.showMenu">clear</i></a
      >
    </li>
    <li class="nav-item">
      <a (click)="setRoute('home', null, null)" class="navigation-link"
        >eŠkola veba</a
      >
    </li>

    <div
      class="btn-group nav-item"
      *ngIf="
        courseUrl && course && this.url && this.url.indexOf('/test') === -1
      "
    >
      <button
        class="nav-item hidden-sm-down dropdown-toggle course-navigation-button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        {{ course.name }}
      </button>
      <div class="dropdown-menu overflow-auto course-dropdown">
        <ul class="list-style-type-none padding-inline-start-0">
          <li *ngFor="let lesson of course.lessons" class="menu__item">
            <span
              class="menu__lesson d-block m-l-1"
              (click)="
                setRoute(
                  course.type == 'course' ? 'course' : 'book',
                  course.id,
                  lesson.url,
                  lesson
                )
              "
              >{{ lesson.name }}</span
            >
            <ul class="padding-inline-start-0">
              <li
                *ngFor="let sublesson of lesson.sublessons"
                class="menu__item"
              >
                <span
                  class="menu__lesson d-block m-l-3"
                  (click)="
                    setRoute(
                      course.type == 'course' ? 'course' : 'book',
                      course.id,
                      sublesson.url
                    )
                  "
                  >{{ sublesson.name }}</span
                >
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <li class="nav-item hidden-sm-down" *ngIf="pageUrl === 'home'">
      <a (click)="scrollToSection('svi_kursevi')" class="navigation-link">
        Kursevi
      </a>
    </li>

    <li class="nav-item hidden-sm-down" *ngIf="pageUrl === 'home'">
      <a (click)="scrollToSection('tests')" class="navigation-link">
        Testovi
      </a>
    </li>

    <li
      class="nav-item pull-xs-right hidden-md-down"
      *ngIf="pageUrl === 'home'"
    >
      <a (click)="setRoute('about', null, null)" class="navigation-link">
        O nama
      </a>
    </li>
    <li class="nav-item pull-xs-right hidden-md-down">
      <search class="hidden-sm-down"></search>
    </li>
  </ul>
</nav>
<menu></menu>
