.bottom-navigation{
    background-color: $material-dark-gray;
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    text-align: center;
    z-index: 10;
    // @media (max-width: 768px){
    //     padding: 5px;
    // }
}

.bottom-navigation__button{
    color: rgba($light, 0.5);
    background: none;
    border: none;
    width: 70px;
    height: 50px;
    display: inline-block;
    position: relative;
    z-index: 10;
    @media (max-width: 768px){
        width: 50px;
        height: 50px;
        i{
            font-size: 32px !important;
        }   
    }
}

.bottom-navigation__button:hover{
    color: $light;
    padding: 0; 
    border-bottom: 7px solid rgba($light, 0.5);
}

.bottom-navigation__button_hover{
    color: $light;
    padding: 0; 
    animation: scale;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.bottom-navigation__button-wrapper{
    display: inline-block;
    height: 60px;
}
