$home-primary: #37474F;
$html-primary: #d32f2f;
$css-primary: #1673b6;
$js-primary: #e6b130;
$jq-primary: #0097a7;
$php-primary: #3F51B5;
$bs-primary: #5a4181;
$ang-primary: #c3002f;
$ang4-primary: #c3002f;
$veb-primary: #47789e;
$ts-primary: #294e80;
$sass-primary: #cf649a;
$canvas-primary: #009688;
$json-primary: #607d8b;
$about-primary: #00a961;
$java-primary: #BF360C;
$sql-primary: #7986CB;
$web-center-primary: #37474F;

$material-dark-gray: #37474F;
$material-gray: #455a64;
$material-light-gray: #607d8b;
$dark-gray: #263238;
$gray: #9e9e9e;
$light-gray: #BDBDBD;
$light: #f7f7f7;

$facebook-official: #3b5998;
$twitter-official: #55acee;
$google-plus-official: #dd4b39;
$github-official: #4078c0;
$android-official: #a2c53d;

.material-dark-gray{
    color: $material-dark-gray;
}

.bkg-material-dark-gray{
    background-color: $material-dark-gray;
}

.material-gray{
    color: $material-gray;
}

.bkg-material-gray{
    background-color: $material-gray;
}

.material-light-gray{
    color: $material-light-gray;
}

.bkg-material-light-gray{
    background-color: $material-light-gray;
}


.dark-gray{
    color: $dark-gray;
}

.bkg-dark-gray{
    background-color: $dark-gray;
}

.gray{
    color: $gray;
}

.bkg-gray{
    background-color: $gray;
}

.light-gray{
    color: $light-gray;
}

.bkg-light-gray{
    background-color: $light-gray;
}

.light{
    color: $light;
}

.bkg-light{
    background-color: $light;
}

.bkg-home{
    background-color: $material-dark-gray;
}

.bkg-html{
    background-color: $html-primary !important;
}

.bkg-css{
    background-color: $css-primary !important;
}

.bkg-js{
    background-color: $js-primary !important;
}

.bkg-jq{
    background-color: $jq-primary !important;
}

.bkg-bs{
    background-color: $bs-primary !important;
}

.bkg-ang{
    background-color: $ang-primary !important;
}

.bkg-ang4{
    background-color: $ang4-primary !important;
}

.bkg-php{
    background-color: $php-primary !important;
}

.bkg-veb{
    background-color: $veb-primary !important;
}

.bkg-java{
    background-color: $java-primary !important;
}

.bkg-sql{
    background-color: $sql-primary !important;
}

.bkg-ts{
    background-color: $ts-primary !important;
}

.bkg-sass{
    background-color: $sass-primary !important;
}

.bkg-canvas{
    background-color: $canvas-primary !important;
}

.bkg-json{
    background-color: $json-primary !important;
}

.bkg-about{
    background-color: $about-primary !important;
}

.bkg-web-center{
    background-color: $web-center-primary !important;
}

.hover-web-center:hover{
    color: $web-center-primary;
}

.hover-material-dark-gray:hover{
    color: $material-dark-gray;
}

.hover-html:hover{
    color: $html-primary;
}

.hover-css:hover{
    color: $css-primary;
}

.hover-js:hover{
    color: $js-primary;
}

.hover-jq:hover{
    color: $jq-primary;
}

.hover-bs:hover{
    color: $bs-primary;
}

.hover-ang:hover{
    color: $ang-primary;
}

.hover-ang4:hover{
    color: $ang4-primary;
}

.hover-php:hover{
    color: $php-primary;
}

.hover-ts:hover{
    color: $ts-primary;
}

.hover-sass:hover{
    color: $sass-primary;
}

.hover-json:hover{
    color: $json-primary;
}

.hover-veb:hover{
    color: $veb-primary;
}

.hover-java:hover{
    color: $java-primary;
}

.hover-sql:hover{
    color: $sql-primary;
}

.trans-md{
    color: rgba($light, 0.5);
}

.bkg{
    background-color: lightgray;
}

.twitter:hover{
    color: $twitter-official !important;
}

.google-plus:hover{
    color: $google-plus-official !important;
}

.bkg-git{
    background-color: $github-official;
}

.android-official{
    color: $android-official;
}