.lesson-text {
  height: calc(100vh - 140px);
  overflow-y: auto;
  line-height: 1.5em;
  font-size: 16px;
  padding: 20px;
  @media (max-width: 768px) {
    font-size: 12px;
    padding: 10px;
    & > h1 {
      font-size: 20px !important;
    }
    & > h2 {
      font-size: 16px !important;
    }
  }
}

.lesson-code {
  height: 50vh;
  min-height: 200px;
  border: none !important;
}

.lesson-preview {
  height: calc(50vh - 150px);
  margin-top: 10px !important;
  iframe {
    width: 100%;
    height: 100%;
  }
  @media (max-width: 768px) {
    margin-bottom: 80px !important;
    height: 200px;
  }
}

.code-preview-full {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
}
