.header {
  background-color: $material-dark-gray;
  color: $light;
  font-size: 20px;
  padding-top: 20px;
  text-align: center;
  box-shadow: 0 0 20px $material-dark-gray;
  position: relative;
  top: -500px;
  max-height: 450px;
}
