.technologie-image{
    width: 150px;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
}

.course-card{
    cursor: pointer;
    border: none;
    color: $light-gray;
}

.home-card-lg{
    cursor: pointer;
}