.technologie-image{
    width: 150px;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
}

.course-card{
    cursor: pointer;
    border: none;
    color: $light-gray;
}

.course-card:hover{
    animation: scale-small;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.home-card-lg{
    cursor: pointer;
}