.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}
.material-icons.md-96 {
  font-size: 96px;
}
.material-icons.md-192 {
  font-size: 192px;
}

.search-icon {
  position: relative;
  top: 5px;
  left: -2px;
}

.save-icon {
  position: relative;
  top: 10px;
}
