.lesson-text{
    h1{
        font-size: 32px;
        font-weight: bold;
        color: $material-light-gray;
        margin-top: 10px;
        margin-bottom: 10px;
        line-height: 1.5em;
    }
    h2{
        font-size: 28px;
        font-weight: bold;
        color: $material-light-gray;
        margin-top: 10px;
        margin-bottom: 10px;
        line-height: 1.5em;
    }
    h3{
        font-size: 24px;
        font-weight: bold;
        color: $material-light-gray;
        margin-top: 10px;
        margin-bottom: 10px;
        line-height: 1.5em;
    }
    h4{
        font-size: 22px;
        font-weight: bold;
        color: $material-light-gray;
        margin-top: 10px;
        margin-bottom: 10px;
        line-height: 1.5em;
    }
    h5{
        font-size: 20px;
        font-weight: bold;
        color: $material-light-gray;
        margin-top: 10px;
        margin-bottom: 10px;
        line-height: 1.5em;
    }
    h6{
        font-size: 18px;
        font-weight: bold;
        color: $material-light-gray;
        margin-top: 10px;
        margin-bottom: 10px;
        line-height: 1.5em;
    }
    ul{
        list-style-type: disc;
        list-style-position: inside;
        margin-top: 5px;
        margin-bottom: 5px;
        line-height: 1.5em;
        li{
            margin-top: 5px;
            margin-bottom: 5px;
            line-height: 1.5em;
        }
    }
    b{
        font-weight: bold;
    }
}

.primer_text{
    background-color: $light;
    font-family: $editor-font;
}

.napomena{
    background-color: $light;
    padding: 20px;
    border-left: 5px solid $js-primary;
    margin-top: 20px;
    margin-bottom: 20px;
    b{
        font-weight: bold;
    }
}

.zadatak{
    background-color: $light;
    padding: 20px;
    border-left: 5px solid $canvas-primary;
    margin-top: 20px;
    margin-bottom: 20px;
    b{
        font-weight: bold;
    }
}

.primer_ta{
    background-color: $light;
    font-family: $editor-font;
    border: none;
    border-left: 5px solid $material-light-gray;
    padding: 20px;
    overflow: hidden;
    height: auto;
    width: 100%;
    resize: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.primer_slika{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button_copy{
    border: 1px solid $gray;
    border-left: 5px solid $material-light-gray;
    line-height: 1.5em;
    background-color: $light;
    color: $dark-gray;
    font-size: 16px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button_copy:hover{
    background-color: white;
}

.tabela{
    border: 1px solid $material-light-gray;
    width: 100%;
    text-align: center;
    th {
        background-color: $material-light-gray;
        color: $light;
        text-align: center;
        line-height: 2em;
    }
    td{
        line-height: 2em;
    }
    tr:nth-child(even) {
        background-color: $light;
    }
}

.tabela, th, td{
    border: 1px solid $material-light-gray;     
}

caption{
    caption-side: top;
}