.menu{
    height: calc(100vh - 60px);
    width: 350px;
    position: fixed;
    z-index: 11;
    top: 60px;
    left: -350px;
    background-color: white;
    padding: 20px;
    overflow-y: auto;
    border-right: 1px solid $light-gray;
}

.menu__item{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.menu__course{
    color: $material-light-gray;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu__course:hover{
    color: $gray;
}

.menu__lesson{
    color: $material-gray;
}

.menu__lesson:hover{
    color: $gray;
}

.menu__heading{
    color: $material-light-gray;
    cursor: pointer;
}

.menu__logo{
    position: relative;
    top: 20px;
}

.shadow{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.2);
    z-index: 9;
}
