.code-panel{
    border: 1px solid $light-gray;
    margin: 10px;
}

.code-panel-editor{
    margin: 10px;
    height: calc(100vh - 180px);
    @media (max-width:768px){
        height: calc(100vh - 150px);
    }
}

input[type='file']{
    display: none;
}

.code-panel-preview{
    height: calc(100vh - 180px);
    border: 1px solid $light-gray;
    margin: 10px;
}

.color-input{
    width: 200px;
    height: 200px;
    border: 20px solid $material-light-gray;
    background: white;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    color: $material-light-gray;
    position: relative;
    top: -200px;
}

.color-input-shadow{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: $material-light-gray;
    position: relative;
    margin: auto;
    animation: ripple;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.color-input:focus{
    outline: none;
}

.arrow-bottom{
    border: none !important;
}

.color-picker{
    border: 2px solid $material-light-gray !important;
    color: $material-light-gray !important;
    position: relative !important;
    top: -150px !important;
    margin: auto !important;
    z-index: 5 !important;
    input{
        border: 2px solid $material-light-gray !important;
        font-size: 20px !important;
        width: 100% !important;
        padding: 5px;
    }
    .box div{
        font-size: 20px !important;
    }
}

.web-center-preview{
    iframe{
        width: 100%;
        height: 100%;
    }
}

.transliterator-panel{
    background-color: $light;
    color: $material-dark-gray;
    border: 1px solid $light-gray;
    width: 100%;
    height: calc(100% - 50px);
    resize: none;
    font-size: 20px;
    padding: 10px;
}

.code-panel-translit{
    border: 1px solid $light-gray;
    margin: 10px;
    height: calc(100vh - 250px);
}

.converter-wrapper{
    @media (max-width:768px){
        margin-bottom: 80px !important;
    }
}