@import 'reset';
@import 'colors';
@import 'fonts';
@import 'typografy';
@import 'buttons';
@import 'icons';
@import 'cards';
@import 'animations';
@import 'style';

@import 'loader';
@import 'navigation';
@import 'bottom-navigation';
@import 'modal';
@import 'menu';
@import 'header';
@import 'footer';
@import 'home';
@import 'course-details';
@import 'course';
@import 'lessons';
@import 'editor';
@import 'about';
@import 'web-center';
@import 'ts-compiler';
@import 'lessons-input';
@import 'search';